body{
     background-color: hwb(32 91% 4% / 0.879);
}
.page{
    display:grid;
    grid-template-columns: (3,100px);
    grid-template-rows: (3,100px);
}
.header{
    grid-column:1/-1;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:100px;
    height: 40px;
    list-style-type: none;
}
.p-nav{
  color: rgba(90, 38, 12, 0.797);
  margin-right:60px;
  display: inline;
}
.imgheader{
    position: relative;
}
.img-header{
width: 100%;
height:auto;
opacity: 50%;
}
.p-header{
    position: absolute;
    top:50%;
    left: 35%;
    margin: 0;
    color:#4e1c0ccb;
    font-size:30px;
}
.h1-menu{
    text-align: center;
    color:hsla(15, 73%, 18%, 0.998);
    padding-top: 10%;
}
.Menu{
    display: grid;
    justify-content: stretch;
    gap: 10px;
}
.pic-menu1{
    position:absolute;
    right: 60px;
    border-radius: 5px;
    text-align:center;
    list-style-type: none;
}
.pic-menu2{
    position:absolute;
    left: 650px;
    border-radius: 5px;
    text-align:center;
    list-style-type: none;

}
.pic-menu3{
    position:absolute;
    left: 370px;
    border-radius: 5px;
    text-align:center;
    list-style-type: none;

}
.pic-menu4{
    position:absolute;
    left: 20px;
    border-radius: 5px;
    text-align:center;
    list-style-type: none;
}
.pic-menu{
    border: 2px 1px 2px 1px;
    border-color:#301616 ;
    border-radius: 5px;
}
.img-about{
    position: relative;
    left: 835px;
    top:165px;
    border-color: hsla(332, 21%, 54%, 0.89);
    box-sizing: border-box;
    z-index: 1;   
    height: 300px;
    width: 300px;
    border-radius: 10px;

}
.sqiued{
    position:absolute;
    left: 850px;
    border-bottom: 10px;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    width: 300px;
    height: 270px;
    top:1350px;
    border-color: #5c3e53;
    background-color: #ca98bb60;
    opacity: 20%;
    border-style:groove;
    border-radius: 5px;
}
.ui-about{
    display: inline;
    position: relative;
    top:10px;
}